body {
    background: #4d6d9a;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}


.description {
    margin: 40px 40px;
    text-align: center;
    color: black;
}

.search-sec {
    background: #4d6d9a;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.search-bar {
    border-radius: 10%;
    border: solid 5px #17252a;
    text-align: center;
    width: 70vw;
    height: 10%;
    font-size: 30px;
    outline: none;
}
::placeholder {
    font-size: 20px;
    opacity: 1; /* Firefox */
  }
  
.search-icon {
    width:50px;
    height: 50px;
    margin: 20px 20px;
}

/* ------- Autocomplete list --------*/

.suggestions {
    margin: 0;
    padding: 0;
    position: relative;
    perspective: 40px;
}

.suggestions li {
    background: white;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0;
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
  border-radius: .5rem;
}

.suggestions li:hover {
    color: orange;
    font-weight: 600;
    cursor: pointer;
}

.suggestions li:nth-child(even) {
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}

.suggestions li:nth-child(odd) {
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
    background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}